*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 75px;
    background-color: #f8f9fa;
    width: 100%;
}
.bg_grey{
    background-color: #e5e5e5;
}
header li{
    padding: 11px;
}
.text_orange{
    color: #ff9003;
}
#sidebar{
    width: 75px;
    background-color: #051e34;
}
#sidebar .content{
    height: calc(100vh - 75px)
}
#main-content{
    width: calc(100vw - 75px);
}
.bg_blue{
    background-color: rgba(22, 90, 186, 0.9);
}
.content-table img{
    height: 20px;
}
.logo-mobile{
    height: 45px;
}
.margint_75{
    margin-top: 75px;    
}
.f_small{
    font-size: small;
}
@media screen and (min-width: 992px){
    #sidebar{
        width: 150px;
    }
    #main-content{
        width: calc(100vw - 150px);
    }
}